html
{
   overflow-y: scroll;
}

h1
{
position: relative;
top: 10px;
left: 0px;
margin: 20px auto;
width: 100%;
display: block;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
color: #4C4C4C;
letter-spacing: 3px;
text-align: center;
text-transform: uppercase;
}



h2, h3
{
position: relative;
top: -10px;
left: 0px;
margin 0px auto;
display: block;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
color: #4C4C4C;
text-align: center;
}

body
{
position: relative;
display: block;
top: 0px;
left: 0px;
margin: 0px auto;
text-align: center;
float: none;
font-family: "Times New Roman", times, serif;
color: #7F7F7F;
background-color: E5E5E5;
width: 100%;
}

a {
  position: relative;
  color: steelblue;
  text-decoration:none;
  font-weight:600;
}

#outer1 {height: auto; width: 100%;}
#inner1 {width: 750px; margin:0 auto; text-align: center}

#outer2 {height: auto; width: 100%;}
#inner2 {width: 750px; margin-left:auto; margin-right:auto;}

#outer3 {height: auto; width: 100%;} 
#inner3 {width: 500px; margin-left:auto; margin-right:auto;}

#inner3 img
{
position: relative;
left: 0px;
margin: 0px auto;
padding: 20px 0px;
display: block;
}

#header
{
position: relative;
display: block;
margin: 0px auto;
padding: 10px;
top: 0px;
left: 0px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
text-align: center;
text-transform: uppercase;
font-size: 1em;
font-weight:600;
}

#header em {
	text-transform: lowercase;
}

#header2
{
position: relative;
display: block;
margin: 0px auto;
padding: 0px;
top: 0px;
left: 0px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
color: #666666;
letter-spacing: 5px;
text-align: center;
font-size: 1.2em;
font-weight: 900;
}

#header2 a:link {text-decoration:none;}
#header2 a:visited {text-decoration:none;}
#header2 a:hover {text-decoration:none;}
/*#header2 a:active {text-decoration:underline;}*/

#header2 a:link {color: steelblue;}      
#header2 a:visited {color:#CCCCCC;}  
#header2 a:hover {color:#FFE687;}  
/*#header2 a:active {color:#0050B2;}*/   

ul#navlist
{
position: relative;
display: block;
top: 0px;
left: 0px;
padding: 10px 0px 0px;
margin: 0px auto;
list-style-type: none;
font: bold 14px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
border-top: 3px solid grey;
width: 100%;
}

ul#navlist li
{
position: relative;
padding: 0px;
margin: 0px;
display: inline;
}

ul#navlist li a
{
width: 100px;
text-decoration: none;
color: grey;
background-color: white;
padding: 10px;
margin: 0px -5px;
border: 3px solid grey;
display: inline;
}

ul#navlist li a:hover
{
background-color: #FFE687;
color: black;
}

ul#navlist li a#current
{
background-color: #D4D4D4;
color: #4c4c4c;
}

#portfolio
{
position: relative;
top: 0px;
left: 0px;
float: none;
padding: 0px;
margin: 0px auto;
list-style-type: none;
width: 750px;
}

#portfolio p
{
position: relative;
top: 0px;
left: 0px;
padding: 0px;
margin: 5px 0px 10px 0px;
float: none;
width: 100%;
display: block;
text-align: center;
}

#portfolio img
{
position: relative;
display: block;
width: 700px;
float: none;
padding: 10px 0px 0px 25px;
margin: 20px 10px 10px 10px;
border: 0px;
}

.lazy {
  display: none;
}

#portfolio p a
{
position: relative;
color: steelblue;
text-decoration:none;
font-weight: 600;
}

#portfolio img a
{
position: relative;
border: 0px;
}

#resume
{
position: relative;
left: 0px;
top: 0px;
margin:0px;
float: left;
text-align: left;
font: 1em black georgia, times, serif;
color: #4C4C4C;
}

#resume p 
{
position: relative;
left: 0px;
margin: 0px;
padding:0px;
font-family: georgia, courier, serif;
font-size: 1em;
float: none;
display: block;
}

#resume p.section
{
position: relative;
left: 0px;
margin: 0px 0px 5px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-weight: bold;
font-size: 1.2em;
float: none;
display: block;
}

#resume p i
{
position: relative;
float: none;
right: 0px;
margin: 0px 0px 10px;
}

#resume ul
{
position:relative;
left: 0px;
margin: 5px 0px 15px;
float: none;
display: block;
list-style-type: circle;
}

#resume ul li
{
position: relative;
left: 0px;
margin: 0px 0px 5px;
}

#about
{
position: relative;
font-size: 1.2em;
text-align: left;
color: #666666;
}

#about img
{
position: relative;
margin: 0px auto;
width: 300px;
}

#footer
{
position: relative;
bottom: 0px;
left: 0px;
margin: 10px;
padding: 0px;
float: none;
display: block;
text-align: center;
}